.u-section-1 .u-sheet-1 {
  min-height: 1176px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 956px;
  margin: 43px auto 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 968px;
  margin: -968px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: Nunito Sans;
  font-weight: 900;
  font-size: 2.625rem;
  margin: -549px auto 0;
}

.u-section-1 .u-btn-1 {
  font-family: Nunito;
  background-image: none;
  font-weight: 300;
  font-size: 1.875rem;
  margin: 145px auto 0 350px;
  padding: 7px 96px 8px;
}

.u-section-1 .u-text-2 {
  font-family: Nunito;
  font-weight: 200;
  font-size: 1.5625rem;
  line-height: 1.4;
  letter-spacing: 0px;
  margin: -198px auto 0 323px;
}

.u-section-1 .u-icon-1 {
  width: 72px;
  background-image: none;
  height: 72px;
  margin: 194px auto 0 364px;
  padding: 11px;
}

.u-section-1 .u-icon-2 {
  width: 74px;
  background-image: none;
  height: 74px;
  margin: -73px auto 0 477px;
  padding: 11px;
}

.u-section-1 .u-icon-3 {
  width: 74px;
  background-image: none;
  height: 74px;
  margin: -76px auto 0 704px;
  padding: 10px;
}

.u-section-1 .u-icon-4 {
  width: 74px;
  background-image: none;
  height: 74px;
  margin: -74px auto 0 589px;
  padding: 9px;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 322px;
  margin: -750px auto 0;
}

.u-section-1 .u-image-4 {
  width: 268px;
  height: 268px;
  margin: -296px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 962px;
    margin-top: 37px;
  }

  .u-section-1 .u-image-2 {
    height: 978px;
    margin-top: -978px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -546px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 152px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -205px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 206px;
    margin-left: 293px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -72px;
    margin-left: 387px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -75px;
    margin-left: 574px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 479px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -756px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -309px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    height: 970px;
    margin-top: -966px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -557px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 196px;
    margin-left: 162px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 268px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -74px;
    margin-left: 484px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 376px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -745px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -295px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-1 .u-image-1 {
    height: 912px;
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 919px;
    margin-top: -912px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -511px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 133px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -197px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 185px;
    margin-left: 81px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -76px;
    margin-left: 181px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -72px;
    margin-left: 385px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 283px;
  }

  .u-section-1 .u-image-3 {
    height: 305px;
    margin-top: -707px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    width: 246px;
    height: 246px;
    margin-top: -277px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-image-1 {
    height: 594px;
    margin-top: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 594px;
    margin-top: -594px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -349px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 86px;
    padding: 0 32px 0 31px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: -113px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-icon-1 {
    width: 45px;
    height: 45px;
    margin-top: 107px;
    margin-left: 42px;
    padding: 7px;
  }

  .u-section-1 .u-icon-2 {
    width: 46px;
    height: 46px;
    margin-top: -46px;
    margin-left: 112px;
    padding: 6px;
  }

  .u-section-1 .u-icon-3 {
    width: 46px;
    height: 46px;
    margin-top: -46px;
    margin-left: 253px;
    padding: 5px;
  }

  .u-section-1 .u-icon-4 {
    width: 45px;
    height: 45px;
    margin-top: -46px;
    margin-left: 183px;
    padding: 5px;
  }

  .u-section-1 .u-image-3 {
    height: 193px;
    margin-top: -451px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    width: 153px;
    height: 153px;
    margin-top: -172px;
    margin-right: 88px;
  }
}